.card {
    z-index: 99;
    position: fixed;
    top: 12%;
    right: 15%;
    background-color: $color-white;
    width: 21vw;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: -2px 14px 15px -5px rgba(0, 0, 0, 0.45);

    &__line {
        width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        border: 1px solid $color-neutral-light-grayish-blue;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: $margin-bottom-medium;
        overflow: hidden;

        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: $margin-bottom-medium;

            &-text {
                font-family: "Kumbh Sans", sans-serif;
                font-size: $font-size-paragraph;
                color: $color-neutral-dark-grayish-blue;

                line-height: 0;
                margin: 1rem;
            }
            &-delete {
                margin-left: auto;
                height: auto;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
