.card {
    z-index: 99;
    position: fixed;
    top: 12%;
    right: 15%;
    background-color: $color-white;
    width: 19vw;
    height: auto;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: -2px 14px 15px -5px rgba(0, 0, 0, 0.45);

    &__line {
        margin-top: 2.5rem;
        margin-bottom: 1rem;

        border: 1px solid $color-neutral-light-grayish-blue;
    }
}
