.gallery {
    width: 50%;

    @include respond(phone) {
        width: 100%;
    }

    &__collection {
        margin: -2rem 2rem 0 2rem;

        &:hover {
            cursor: pointer;
            filter: opacity(0.9);
        }

        &-btn {
            position: relative;
            text-align: center;
            top: 19%;
            color: $color-black;
        }
    }

    &__shop {
        display: flex;
        justify-content: center;
        gap: 2%;
        width: 100%;
        flex-wrap: wrap;

        &-product {
            width: 29%;
            padding: 1rem;

            border: 3px solid white;
            border-radius: 2rem;
            margin-bottom: $margin-bottom-medium;

            &:hover {
                cursor: pointer;
                border: 3px solid $color-primary-orange;
                border-radius: 2rem;
            }
        }
    }

    &__picture {
        &-big {
            border-radius: 1.8rem;
            margin-bottom: 3rem;
            width: 100%;

            @include respond(phone) {
                border-radius: 0;
            }
        }
        &-small {
            border-radius: 1.2rem;
            width: 20%;
            height: auto;

            &:hover {
                cursor: pointer;
                filter: opacity(0.75);
            }
        }
    }

    &__thumbnails {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @include respond(phone) {
            display: none;
            visibility: hidden;
        }
    }

    &__arrows {
        @include respond(phone) {
            padding: 5%;
            display: flex;
            justify-content: space-between;
            visibility: visible;
            position: absolute;
            top: 40%;
            height: 8%;
            width: 100%;

            &-left,
            &-right {
                width: 7rem;
                height: 7rem;
                border: none;
                border-radius: 50%;

                &:hover {
                    cursor: pointer;
                }
            }
            &-left {
                background-image: url("https://res.cloudinary.com/kreiva/image/upload/v1653033616/FrontendMentor/EcommerceProductPage/icon-previous_kp1ceu.svg");
                background-repeat: no-repeat;
                background-position: 42% 50%;
            }
            &-right {
                background-image: url("https://res.cloudinary.com/kreiva/image/upload/v1653033614/FrontendMentor/EcommerceProductPage/icon-next_wozwyc.svg");
                background-repeat: no-repeat;
                background-position: 52% 50%;
            }
        }
    }
}

.selected {
    border: 2px solid $color-primary-orange;
    z-index: 99;
}
