.header {
    &-small {
        font-size: $font-size-header-small;
        letter-spacing: $font-letter-spacing;
        text-transform: uppercase;
        color: $color-primary-orange;
        margin-bottom: $margin-bottom-small;
    }

    &-medium {
        font-size: 4rem;
    }

    &-big {
        font-size: 4.5rem;
        text-transform: capitalize;
        letter-spacing: $font-letter-spacing;
        line-height: $font-line-height-big;
        margin-bottom: $margin-bottom-big;
    }
}
