.logo {
    background-image: url("https://res.cloudinary.com/kreiva/image/upload/v1653033617/FrontendMentor/EcommerceProductPage/logo_d2dxhh.svg");
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
    background-size: cover;
}
