.navigation {
    width: 100%;
    flex-basis: 80%;

    &__links {
        list-style: none;
        display: flex;

        @include respond(phone) {
            visibility: hidden;
            display: none;
        }

        &-link:link,
        &-link:visited {
            margin-right: 3rem;
            transition: all 0.2s;
            text-decoration: none;
            color: $color-neutral-grayish-blue;
            font-size: $font-size-navigation;

            @include respond(tab-port) {
                margin-right: 1.5rem;
                font-size: 80%;
            }
        }
        &-link:hover,
        &-link:focus {
            color: $color-neutral-dark-grayish-blue;
            border-bottom: 4px solid $color-primary-orange;
            padding-bottom: 6.2vh;
        }
    }
}
